// @import "~bulma/bulma.sass";

//Navbar

h1 {
  font-family: 'Julius Sans One', sans-serif;
  
}

h2 {
  font-family: 'Julius Sans One', sans-serif;
  padding: 10px 20px;
  font-size: 50pt;
  color: green;
}

h4 {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 10px;
}

i {
  font-size: 50px;
}


p {
  font-family: 'Julius Sans One', sans-serif;

}

h1:hover {
  background-color: white;
}

.container {
  flex: display;
  flex-wrap: wrap;
  flex-direction: row;
}