@import "~bulma/bulma.sass";

// Import react-modal-video for Plant Care YouTube Videos
@import 'node_modules/react-modal-video/scss/modal-video.scss';

//Navbar

h1 {
  font-family: 'Julius Sans One', sans-serif;

}

h2 {
  font-family: 'Julius Sans One', sans-serif;
  padding: 10px 20px;
  font-size: 50pt;
  color: black;
}

h4 {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 10px;
}

i {
  font-size: 50px;
}


p {
  font-family: 'Julius Sans One', sans-serif;

}

h1:hover {
  background-color: white;
}

.container {
  flex: display;
  flex-wrap: wrap;
  flex-direction: row;
}

.link-plant-care, .btn-plant-care {
  font-size: 50pt;
  font-family: 'Julius Sans One', sans-serif;
  color: black;
  text-align: center;
  background-color: #1AB385;
}

.btn-plant-care {
  display: block;
  margin: auto;
}

.article-plant-care {
  font-size: 50pt;
  font-family: 'Julius Sans One', sans-serif;
  text-align: center;
  background-color: #FFFFFF;
}


.link-plant-care:hover, .btn-plant-care:hover, .article-plant-care:hover {
  background-color: #63B76C;
}
.head-text {
  position: relative;
  font-family: 'Julius Sans One', sans-serif;
}
.text-on-image {
 position: absolute;
 right: 45%;
 left: 0%;
 bottom: 80%;
}

